:root {
  --blue: rgb(22, 89, 164);
  --dark-blue: #1b2bac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.wrap {
  max-width: 1400px;
  margin: 0 auto;
}
h3 {
  padding-bottom: 10px;
  color: var(--dark-blue);
}
p {
  color: #525254;
}
a {
  color: var(--dark-blue);
  padding-top: 10px;
}
nav {
  margin: 0 auto;
  background-color: white;
}
#navBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  margin: 0 auto;
}
.menuList {
  background-color: var(--blue);
  width: 100%;
  grid-column: 1/3;
}
nav ul {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}
nav ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0;
  align-items: center;
}
nav ul li {
  list-style: none;
  height: 100%;
  width: 100px;
}
nav ul li a:hover {
  background-color: white;
  color: var(--blue);
}
.social {
  justify-self: end;
}
.social i {
  color: var(--blue);
  font-size: 20px;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #edf5f8;
}

#notification {
  background-color: var(--blue);
  text-align: center;
  color: rgb(255, 255, 255);
}
#notification a {
  color: white;
}

header {
  display: flex;
  align-items: center;
  background-color: beige;
}

header img {
  margin: 1rem;
}

header div h1 {
  text-align: center;
}

header div:nth-child(2) {
  width: 100%;
}
.logo {
  height: 100px;
  width: 150px;
  object-fit: cover;
}
.hamburger {
  display: none;
}
#content {
  margin-top: 50px;
}
#content main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 300px 200px 270px;
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

#content section {
  background-color: white;
}

#hero {
  grid-row: 1/3;
  grid-column: 2/3;
  position: relative;
}
.triangle {
  background-color: #1280f5df;
  height: 100%;
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.triangle button {
  width: fit-content;
  padding: 10px 30px;
  border: none;
  border-radius: 2px;

  display: block;
  margin: 20px auto;
}
.triangle p {
  color: white;
}
.triangle h2 {
  color: white;
  padding-bottom: 10px;
}
#spotlight {
  grid-column: 3/4;
  grid-row: 1/4;
}
#news {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;

  background-color: #ceeefa !important;
}
#news div:nth-child(1) {
  align-self: center;
  height: 100%;
}
#news div:nth-child(1) img {
  display: flex;
  align-self: center;
  padding: 20px;
}
#news p {
  color: #1b2bac;
}
#news div:nth-child(2) {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
}
#event {
  background-position-x: -250px;
}
#event img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}
#news a {
}
#event p {
  color: #525254;
  padding-bottom: 10px;
}
.descriptionText {
  padding: 20px;
}
.heroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.weatherTop {
  background-color: #127ff5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.temp {
  color: white;

  font-size: 1.8rem;
  text-align: center;
}
.desc {
  text-align: center;
  color: white;
  font-size: 1rem;
}
.weatherDesc {
  display: flex;
  flex-direction: row;
  height: 60px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.weatherDesc p {
  padding-bottom: 10px;
}
.weatherIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.weatherIcons i {
  color: var(--dark-blue);
}
#join i {
  color: #127ff5;
  font-size: 4rem;
  display: block;
  text-align: center;
  margin-top: 20px;
}
#join button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  background-color: var(--blue);
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
footer {
  background-color: #f5f5f5;
  height: 300px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerContainer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
  height: 300px;
}
.lastUpdated {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 10px;
}
footer h3 {
  color: #cccccc;
}
footer p,
i {
  color: #cccccc;
}
footer * {
  color: #cccccc;
}
.location a {
  color: #cccccc;
}
.hamburger {
  display: none;
}
#spotlight {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
#s1,
#s2,
#s3 {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
}

#s2 {
  background-color: #f5f3f4;
}
#spotlight p {
  text-align: left !important;
}
#spotlight i {
  color: #127ff5;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 15px;
}
