@media screen and (max-width:600px) {
    #content main {
  
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }

    #join {
        display: none;
    }
    #hero {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #event {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #news {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #spotlight {
        grid-column: 1/2;
        grid-row:5/6;
    }
    footer {
        height: 600px;
        
    }
    .footerContainer {
        width: fit-content;
        flex-direction: column;
        gap: 10px;
        height: 800px;
        justify-content: center;
        padding: 20px;
    }
    .footerContainer * {
        text-align: left;
    }
    .footerContainer div:nth-child(3) {
        width: 100%;
    }
    .location {
        width: 100%;
    }
    #navBar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        padding: 10px;
    }
    nav ul {
        grid-row: 2/3;
        grid-column: 2/3;
        align-items: flex-end;
        flex-direction: column;
        display: none;
        height: fit-content;
        
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        justify-content: end;
        height: 40px;
        width: 100%;
        padding-right: 20px;
    }
    nav ul.active {
        display: flex;
    }
    .hamburger {
        justify-self: end;
        display: block;
    }
    .fa-bars, .fa-xmark {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
        color: var(--blue);
        font-size: 1.4rem;
    }
    .fa-bars {
        display: none;
        width: 24px;
        filter: invert(23%) sepia(35%) saturate(4798%) hue-rotate(201deg) brightness(91%) contrast(83%);
    }
    .fa-bars.active {
        display: block;
    }
    .fa-xmark {
        display: none;
        width: 24px;
        filter: invert(23%) sepia(35%) saturate(4798%) hue-rotate(201deg) brightness(91%) contrast(83%);
    }
    .fa-xmark.active {
        display: block;
    }
    .social {
        display: none;
    }
    #news {
        flex-direction: column;
    }
    .triangle {
        width: 100%;
    }
    
}